<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
    	<title>About us</title>
    </head>
    <body>
    	<div id="content">
    		<h1>This is a basic web site!! With a current content, just to how laravel works</h1>
    		<div class="presentation">
    			<p>We want to expand knowledges, related with today's countries. Searching real information about the geopolitic relations between the most important organizations in the world.
    			</p>
    			<p>Evaluating interest, history, development potential and future proyection of each country in the world we grant you a general perspective to understand the globalist movements. As a first idea, to say the establishment is leftist, giving to this site a role more controversial. ONU, UE, UNESCO, FMI among others organizations bow to control the world, since yaers they made decisions that were overshadowed, putting "rigth" figures in the leastest position.</p>
    		</div>
    	</div>
    </body>
</html>
