<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
    	<title>Resources</title>
    </head>
    <body>
    	<div id="content">
    		<h1>What resources we count with</h1>
    		<p>We play with resources in multiple languages, having 
    		a vast perspective in differents cultures that are under particular regimes. As Argentine,i know who represented "the rigth" here, who are represents for coneervative, nacionalist and libertarian parties</p>
    	</div>
    	<div>
    		<h1>Our references</h1>
    		<p>We bow for the "rigth side" against the leftist, specifically for Gomez Centurion</p>
    		<img src="https://lmdiario.com.ar/download/multimedia.normal.ac421cc4cfd19e1b.676f6d657a2063656e747572696f6e5f6e6f726d616c2e6a7067.jpg">
    	</div>
    </body>
</html>